/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
backups/
/public/images/gallery/*.jpg
/public/images/gallery/*.png
/public/images/gallery/*.jpeg
/public/images/ranking/*.jpeg
/public/images/ranking/*.jpg
/public/images/ranking/*.png